name: Сборка и развертывание

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Сборка и развертывание
        run: |
          docker-compose up -d --build
          # Добавьте любые дополнительные команды для развертывания, тестирования и т. д.

