name: —борка и развертывание

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run:
          docker-compose -f docker-compose.yaml up --build

          

