name: —борка и развертывание

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: —борка и развертывание
        run: |
          cd ../../
          

